@font-face {
    font-family: Delicious;
    src: url('Consolas.ttf');
}

.root {
    -fx-font: 12px "Consolas";
}

.int-field {
    -fx-pref-width: 40;
}

/* follows int-field width */
.coordinate-field {
    -fx-hgap: 2;
    -fx-pref-width: 82;
}

/* follows coordinate-field width */
.layout-button {
    -fx-pref-width: 82;
}

.label, .button, .combo-box, .text-field, .check-box {
    -fx-pref-height: 22;
}

.labeled-node {
    -fx-spacing: 8;
}

.labeled-node-l {
    -fx-alignment: center-right;
    -fx-text-alignment: right;
    -fx-border-color: darkgray;
    -fx-border-width: 0 1 0 1;
    -fx-border-radius: 4;
    -fx-padding: 0 8 0 0;
    -fx-pref-width: 90;
}

.labeled-node-l#data {
    -fx-pref-width: 50;
}

.control-pane {
    -fx-border-color: darkgray;
    -fx-border-width: 1 2 1 2;
    -fx-border-radius: 4;
    -fx-padding: 8;
    -fx-spacing: 4;
}

.view-pane {
    -fx-vgap: 2;
    -fx-hgap: 16;
}

.control-panel {
    -fx-fill-width: true;
    -fx-spacing: 8;
}

.main {
    -fx-padding: 8;
    -fx-fill-height: true;
    -fx-spacing: 8;
}